<section class="container">

<div class="row">
{{!-- {{#each productionData.showings as |production|}}
<p>{{id}}</p>
{{/each}} --}}

<p>{{get_array productionData}}</p>
{{#each get_array}}

<p>{{date}}</p>

{{/each}}

</div>






