body {
    background-color: #cccccc;
}

#title {
  font-size: 1.8rem;
  color: rgba(223, 10, 10, 0.795);
	font-family: "Montserrat", sans-serif !important;
  font-weight: bold;
}

.cartTimer {
  font-weight: bold;
}
/* a {
  font-family: cursive;;
  font-size: 1.5rem; 
} */

/* #signup{
  margin-top: 0.89rem;
  margin-right: 1rem;
  color: black;
}

#cart{
  color: black;
} */


footer {
  position: fixed;
  font-size: 0.1rem;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#f8f9fa;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgba(223, 10, 10, 0.795);
  text-align: center;
  }

  h2 {
    font-size: 0.9rem;
  }


  /* .fa {
    padding: 8px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    margin-top: 0.7rem;
    text-decoration: none;
  } */
  
 
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-youtube {
    background:rgb(236, 10, 10);
    color: white;
  }

  .fa-shopping-cart {
    margin-bottom: 1.5rem;
  }

  #productionInfo {
    text-align: center;
    color: white;
    background-color: black;
    line-height: 2;
    /* font-weight: bold; */
    font-size: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }

  a:hover {
    text-decoration: none;
  }

  /* img {
    display: block;
    max-width:100%;
    max-height:350px;
    width: auto;
    height: auto;
  } */


  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }







  /* TEST */

  @import url('https://fonts.googleapis.com/css?family=Oswald');

*
{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box
}

body
{
  background-color: #dadde6;
  font-family: arial
}

.fl-left{float: left}

.fl-right{float: right}

.container
{
  width: 90%;
  margin: 100px auto
}


h1
{
  text-transform: uppercase;
  font-weight: 900;
  border-left: 10px solid #fec500;
  padding-left: 10px;
  margin-bottom: 30px
}

.row {overflow: hidden}

.ticket
{
  display: table-row;
  /* width: 49%; */
  background-color: #fff;
  color: #989898;
  margin-bottom: 10px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  border-radius: 4px;
  position: relative
}

.showing {
  width: 50vw;
  min-width: 300px;
}

.card + .card{margin-left: 2%}

.date
{
  display: table-cell;
  width: 25%;
  position: relative;
  text-align: center;
  border-right: 2px dashed #dadde6
}

.date-showing
{
  display: table-cell;
  width: 100px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: -10px
  
  /* border-right: 2px dashed #dadde6 */
}

.date:before,
.date:after
{
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: #DADDE6;
  position: absolute;
  top: -15px ;
  right: -15px;
  z-index: 1;
  border-radius: 50%
}

.date:after
{
  top: auto;
  bottom: -15px
}

.date-showing:after
{
  top: auto;
  bottom: -15px
}

.date time
{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.date-showing time
{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.date time span{display: block}

.date-showing time span{display: block}

.date time span:first-child
{
  color: #2b2b2b;
  font-weight: 600;
  font-size: 250%
}

.date-showing time span:first-child
{
  color: #2b2b2b;
  font-weight: 600;
  font-size: 250%
}

.date time span:last-child
{
  text-transform: uppercase;
  font-weight: 600;
  margin-top: -10px
}

.date-showing time span:last-child
{
  text-transform: uppercase;
  font-weight: 600;
  margin-top: -10px
}

.card-cont
{
  display: table-cell;
  width: 75%;
  font-size: 85%;
  padding: 10px 10px 30px 50px
}

.card-cont h3
{
  color: #3C3C3C;
  font-size: 130%
}

/* .row:last-child .card:last-of-type .card-cont h3
{
  text-decoration: line-through
} */

.card-cont > div
{
  display: table-row
}

.card-cont .even-date i,
.card-cont .even-info i,
.card-cont .even-seat i,
.card-cont .even-date time,
.card-cont .even-info p
{
  display: table-cell
}

.card-cont .even-date i,
.card-cont .even-info i,
.card-cont .even-seat i
{
  padding: 5% 5% 0 0
}

.card-cont .even-info p
{
  padding: 15px 50px 0 0
}

.even-seat
{
  padding: 30px 50px 0 0
}

.card-cont .even-date time span
{
  display: block
}

.card-cont a
{
  display: block;
  text-decoration: none;
  width: 80px;
  height: 30px;
  background-color: #D8DDE0;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 2px;
  position: absolute;
  right: 10px;
  bottom: 10px
}

.card-cont a
{
  background-color: #F8504C
}

@media screen and (max-width: 860px)
{
  .card
  {
    display: block;
    float: none;
    width: 100%;
    margin-bottom: 10px
  }
  
  .card + .card{margin-left: 0}
  
  .card-cont .even-date,
  .card-cont .even-info,
  .card-cont .even-seat
  {
    font-size: 75%
  }
}


/* SEATING */


.seat {
  background-color: #444451;
  height: 22px;
  width: 25px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  
}

.selected {
  background-color: #0081cb;
}

.selected-display {
  background-color: #0081cb;
}

.occupied {
  background-color: #fff;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background: rgba(0,0,0,0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

/* .row {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.screen {
  background: #fff;
  height: 50px;
  width: 50%;
  margin: 15px 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transform: rotateX(15deg);
  margin-left: auto;
  margin-right: auto;
}

p.seat-text {
  margin: auto;
  width: 50%;
  /* padding: 10px; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

p.seat-text span {
  color: #0081cb;
  font-weight: 600;
  box-sizing: content-box;
}

.credits a {
  color: #fff;
}


.upper {
  text-transform: uppercase;
  font-weight: 600;
  border-left: 10px solid #fec500;
  padding-left: 10px;
}

.seat-selection {
  width: 100%;
}

/* .seat-text {
  margin-left: auto;
  margin-right: auto;
} */